<form method="get" action="/quizes?search">
	Buscador: <input type="text" name="busqueda" placeholder="Texto a buscar"/>
	<input type="button" value="Enviar"/>
</form>
<table>
<% var i; for (i=0; i < quizes.length; i++) { %>
	<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
<% } %>
</table>