<form method="get" action="/quizes?search">
	Buscador: <input type="text" name="busqueda" placeholder="Texto a buscar"/>
	<input type="button" value="Enviar"/>
</form>
<table>
<tr><th>Pregunta</th><th>Tema</th></tr>
<% var i; for (i=0; i < quizes.length; i++) { %>
	<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td><td><%= quizes[i].tema %></td></tr>
<% } %>
</table>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>