   	<br/><form method="get" action="/quizes/answer">
   	Pregunta: <%= pregunta %> <p>
   	<input type="text" name="respuesta" id="resp" placeholder="Responda aquí"/>
   	<input type="submit" value="Enviar"/>
   	</form>
